<h1>Perfil de Usuario</h1>
<hr>


<pre *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
</pre>
<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>email</th>
        <th>verificacion</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Locate</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Linkimagen</th>
        <th>Key</th>
        <th>update At</th>
    </tr>
    <tr *ngFor="let item of dataconnection.data">
        <td>{{item.email}}</td>
        <td>{{item.email_verified}}</td>
        <td>{{item.family_name}}</td>
        <td>{{item.given_name}}</td>
        <td>{{item.locate}}</td>
        <td>{{item.name}}</td>
        <td>{{item.nickname}}</td>
        <td>{{item.picture}}</td>
        <td>{{item.sub}}</td>
        <td>{{item.updated_at}}</td>



    </tr>

</table>